.home {
  padding: 56px 20px;
  width: 100%;
}

.about {
  display: flex;
}

.imageContainer {
  flex: 1;
}

.image {
	height: 35vw;
	background-image: url(/assets/profile.jpg);
	background-size: cover;
	background-position: center;
}

.bioContainer {
	margin: 40px auto;
	padding-left: 32px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bio {
	color: darkslategray;
}

.name { 
	font-style: italic;
}

@media all and (max-width: 728px) {
	.home {
		padding: 16px;
	}

  .about {
		flex-direction: column;
	}

	.image {
		height: 50vw;
		width: 100%;
		background-position: 50% 80%;
	}

	.bioContainer {
		margin: 40px auto;
		padding-left: 0px;
	}
}
